<div class="animated fadeIn">
  <div class="col-md-12" style="float: left">
    <div style="float: left">
      <div
        style="float: left; height: 10px; width: 10px; background-color: green"
      >
        &nbsp;
      </div>
      <span style="float: left; padding-left: 2px">Published</span>
    </div>
    <div style="float: left; margin-left: 10px">
      <div
        style="
          float: left;
          height: 10px;
          width: 10px;
          background-color: #4f93c6;
        "
      >
        &nbsp;
      </div>
      <span style="float: left; padding-left: 2px">In-Progress</span>
    </div>
    <div style="float: left; margin-left: 10px">
      <div
        style="
          float: left;
          height: 10px;
          width: 10px;
          background-color: #f28091;
        "
      >
        &nbsp;
      </div>
      <span style="float: left; padding-left: 2px">Pending</span>
    </div>
  </div>
  <div
    *ngIf="inwardDetail.descritiveType !== 'Y'"
    class="col-md-12"
    style="margin-top: 10px"
  >
    <div *ngFor="let sample of inwardSampleLists; index as a" class="card">
      <div
        class="card-header"
        style="float: left"
        [style.background]="sample.color"
      >
        <div style="width: 25%; border: 0px solid white; float: left">
          {{ sample.sampleno }}
        </div>
        <div style="width: 25%; border: 0px solid white; float: left">
          Count : {{ sample.count }}
        </div>
        <div style="width: 35%; border: 0px solid white; float: left">
          Sample. Type : {{ sample.samplename }}
        </div>
        <div style="width: 15%; border: 0px solid white; float: left">
          No of Test(s) : {{ sample.nooftests }}
        </div>
        <div style="width: 50%; border: 0px solid white; float: left">
          Description : {{ sample.description }}
        </div>
        <div style="width: 49%; border: 0px solid white; float: left">
          Remarks : {{ sample.remark }}
        </div>
      </div>
      <div class="card-body" *ngFor="let test of sample.tests">
        <table
          *ngIf="test.test_status == 'Published'"
          style="width: 100%; font-size: 0.9em"
          class="table table-responsive-sm table-hover table-outline mb-0"
        >
          <thead class="thead-light">
            <tr>
              <th style="width: 25%">Test Name</th>
              <th style="width: 48%">Result</th>
              <th style="width: 12%">Completed Date</th>
              <th style="width: 10%">Status</th>
              <th style="width: 5%">PDF</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- [ngStyle]="{
              'background-color': 
                test.test_status == 'Published' ? '#73c7af' : '#ffffff'
            }" -->
              <!-- <td>{{ test.testname }}</td> -->

              <td><span [innerHTML]="test.testname"></span></td>
              <td>
                <div style="width: 100%; float: left">
                  <table>
                    <tr>
                      <th style="border: none">Parameter</th>
                      <th *ngIf="test.res1 === ''" style="border: none">
                        Result
                      </th>
                      <th *ngIf="test.res1 !== ''" style="border: none">
                        {{ test.res1 }}
                      </th>
                      <th *ngIf="test.res2 !== ''" style="border: none">
                        {{ test.res2 }}
                      </th>
                      <th *ngIf="test.res3 !== ''" style="border: none">
                        {{ test.res3 }}
                      </th>
                      <th *ngIf="test.res4 !== ''" style="border: none">
                        {{ test.res4 }}
                      </th>
                    </tr>
                    <tr *ngFor="let result of test.results">
                      <td><span [innerHTML]="result.paraname"></span></td>
                      <td *ngIf="result.res1 !== ''">{{ result.res1 }}</td>
                      <td *ngIf="result.res2 !== ''">{{ result.res2 }}</td>
                      <td *ngIf="result.res3 !== ''">{{ result.res3 }}</td>
                      <td *ngIf="result.res4 !== ''">{{ result.res4 }}</td>
                    </tr>
                  </table>
                </div>
              </td>
              <td>{{ test.publish_date }}</td>
              <td>{{ test.test_status }}</td>
              <td>
                <!-- <a href="{{pdfUrl}}X123456.pdf" target="_self">View</a> -->
                <a
                  *ngIf="test.file1 !== ''"
                  href="http://lab.sitraonline.org.in/pdf/{{ test.file1 }}"
                  target="new"
                  >View</a
                >
                <a
                  *ngIf="test.file2 !== ''"
                  href="http://lab.sitraonline.org.in/pdf/{{ test.file2 }}"
                  target="new"
                  >View</a
                >
                <!-- <button (click)="downloadPdfFile()" >View</button> -->
                <!-- <span>{{pdfUrl}}</span> -->
              </td>
            </tr>

            <!-- <div *ngIf="inwardSampleTests[sample.sampleno]">
                        <tr *ngFor="let sample of inwardSampleTests[sample.sampleno]; index as b;" >
                            <td>{{inwardSampleTests[sample.sampleno][b].testname}}</td>
                          </tr>
                    </div>       -->
            <!-- <tr  >
                    <td>{{inwardSampleTests[sample.sampleno][a].testname}}</td>
                  </tr> -->
          </tbody>
        </table>
        <table
          *ngIf="test.test_status != 'Published'"
          style="width: 100%; font-size: 0.9em"
          class="table table-responsive-sm table-hover table-outline mb-0"
        >
          <thead class="thead-light">
            <tr>
              <th style="width: 25%">Test Name</th>

              <th style="width: 12%">Completed Date</th>
              <th style="width: 10%">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- [ngStyle]="{
              'background-color': 
                test.test_status == 'Published' ? '#73c7af' : '#ffffff'
            }" -->
              <!-- <td>{{ test.testname }}</td> -->

              <td><span [innerHTML]="test.testname"></span></td>

              <td>{{ test.publish_date }}</td>
              <td>{{ test.test_status }}</td>
            </tr>

            <!-- <div *ngIf="inwardSampleTests[sample.sampleno]">
                        <tr *ngFor="let sample of inwardSampleTests[sample.sampleno]; index as b;" >
                            <td>{{inwardSampleTests[sample.sampleno][b].testname}}</td>
                          </tr>
                    </div>       -->
            <!-- <tr  >
                    <td>{{inwardSampleTests[sample.sampleno][a].testname}}</td>
                  </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--/.row; End Descriptive No Type-->

  <!-- Start Descriptive No Type -->
  <div
    *ngIf="inwardDetail.descritiveType === 'Y'"
    class="col-md-12"
    style="margin-top: 10px"
  >
    <div *ngFor="let sample of inwardSampleLists; index as a" class="card">
      <div class="card-header" style="float: left">
        <div style="width: 25%; border: 0px solid white; float: left">
          {{ sample.sampleno }}
        </div>
        <div style="width: 25%; border: 0px solid white; float: left">
          Count : {{ sample.count }}
        </div>
        <div style="width: 35%; border: 0px solid white; float: left">
          Sample. Type : {{ sample.samplename }}
        </div>
        <div style="width: 15%; border: 0px solid white; float: left">
          No of Test(s) : {{ sample.nooftests }}
        </div>
        <div style="width: 50%; border: 0px solid white; float: left">
          Description : {{ sample.description }}
        </div>
        <div style="width: 49%; border: 0px solid white; float: left">
          Remarks : {{ sample.remark }}
        </div>
      </div>
      <div class="card-body">
        <table
          style="width: 100%; font-size: 0.9em"
          class="table table-responsive-sm table-hover table-outline mb-0"
        >
          <thead class="thead-light">
            <tr>
              <th style="width: 45%">Test Name</th>
              <th style="width: 25%">Instrument</th>
              <th style="width: 15%">Completed Date</th>
              <th style="width: 10%">Status</th>
              <th style="width: 5%">PDF</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let test of sample.tests">
              <td>
                <p>{{ test.testname }}</p>
              </td>
              <td>
                <p *ngIf="test.instrumentname == ''">-NA-</p>
                <p *ngIf="test.instrumentname !== ''">
                  {{ test.instrumentname }}
                </p>
              </td>
              <td>{{ test.publish_date }}</td>

              <td>{{ test.test_status }}</td>
              <td>
                <a
                  *ngIf="test.file1 !== ''"
                  href="{{ pdfUrl }}{{ test.file1 }}"
                  target="_new"
                  >View</a
                >
                <!-- <span>{{pdfUrl}}{{test.file1}}</span> -->
                <!-- <span>{{inwardDetail.documentRoot}}</span> -->
                <span *ngIf="test.file1 === ''">NA</span>

                <a
                  *ngIf="test.file2 !== ''"
                  href="{{ pdfUrl }}{{ test.file2 }}"
                  target="_new"
                  >View</a
                >
                <!-- <span>{{pdfUrl}}{{test.file1}}</span> -->
                <!-- <span>{{inwardDetail.documentRoot}}</span> -->
                <span *ngIf="test.file2 === ''">NA</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Descriptive type Result -->
    <div class="card">
      <div class="card-header" style="float: left">Result</div>
      <div class="card-body">
        <p [innerHTML]="inwardDetail.descriptiveResult"></p>
        <p *ngFor="let standardnarration of inwardStandardNarration">
          {{ standardnarration }}
        </p>
      </div>
    </div>
    <!-- End Descriptive type Result -->
  </div>
  <!-- End Descriptive No Type-->
</div>
