<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="border: 1px solid #127b6e">
        <div
          class="card-header"
          style="color: white; font-weight: bold; background-color: #127b6e"
        >
          {{ tableHeading }}
          <div
            *ngIf="loaderFlag == true"
            class="spinner-border text-primary"
            role="status"
          >
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="card-body">
          <div *ngIf="searchText == ''" style="width: 10%; float: left">
            <select
              (change)="changeDisplayCount()"
              class="form-control"
              [(ngModel)]="apiParams.tablerowlimit"
            >
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>
          <div class="form-group" style="float: right; width: 30%">
            <input
              (keyup)="getData()"
              [(ngModel)]="searchText"
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Search Test name or Standard"
            />
          </div>
          <br />
          <nav
            style="width: 100%; float: left"
            *ngIf="searchText == ''"
            aria-label="Page navigation example"
          >
            <div style="float: left">
              <span style="color: #212529; font-weight: bold"
                >Page {{ pagenationConfiguration.currentPageNo }} of
                {{ pageCount }}</span
              >
            </div>
            <ul class="pagination justify-content-center">
              <li
                *ngIf="this.pagenationConfiguration.currentPageNo != 1"
                style="cursor: pointer"
                class="page-item"
              >
                <span class="page-link" (click)="pagenationEvent(3, 0)"
                  >Previous</span
                >
              </li>
              <li
                *ngIf="this.pagenationConfiguration.currentPageNo == 1"
                style="cursor: pointer"
                class="page-item disabled"
              >
                <span class="page-link" (click)="pagenationEvent(3, 0)"
                  >Previous</span
                >
              </li>
              <li
                style="cursor: pointer"
                *ngFor="
                  let pageno of pagenationConfiguration.pageNos;
                  let i = index
                "
                class="page-item"
                (click)="pagenationEvent(1, pageno)"
              >
                <span
                  *ngIf="pageno == pagenationConfiguration.currentPageNo"
                  style="color: white"
                  class="page-link page-link-active"
                  (click)="pagenationEvent('1', pageno)"
                >
                  {{ pageno }}
                </span>
                <span
                  *ngIf="
                    pageno != pagenationConfiguration.currentPageNo &&
                    pageno != undefined
                  "
                  class="page-link"
                  (click)="pagenationEvent('1', pageno)"
                >
                  {{ pageno }}
                </span>
              </li>
              <li
                *ngIf="pageCount != pagenationConfiguration.currentPageNo"
                class="page-item"
                style="cursor: pointer"
              >
                <span class="page-link" (click)="pagenationEvent(2, 0)"
                  >Next</span
                >
              </li>
              <li
                *ngIf="pageCount == pagenationConfiguration.currentPageNo"
                class="page-item disabled"
                style="cursor: pointer"
              >
                <span class="page-link" (click)="pagenationEvent(2, 0)"
                  >Next</span
                >
              </li>
            </ul>
          </nav>
          <table
            style="width: 100%"
            class="table table-responsive-sm table-hover table-outline mb-0"
          >
            <thead class="thead-light">
              <tr>
                <th style="width: 10%">Lab name</th>
                <th style="width: 30%">Test Name</th>
                <th style="width: 15%">Alias</th>
                <th style="width: 25%">NABL Standar</th>
                <th style="width: 10%">Sample size</th>
                <!-- <th style="width:5%;">Member rate</th>                  
                  <th style="width:5%;">Non-Member rate</th>                   -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let testrate of testRates; index as j">
                <!--<option *ngFor="let varieties of varietyNameList; index as i;" value={{varietyNameList[i].id}}></option>-->
                <td>
                  <div>{{ testrate.labname }}</div>
                </td>
                <!-- <td>
                  <div>{{ testrate.testname }}</div>
                </td> -->
                <td>
                  <div>
                    <span [innerHTML]="testrate.testname"></span>
                  </div>
                </td>
                <td>
                  <div><span [innerHTML]="testrate.alias"></span></div>
                </td>
                <td>
                  <div>{{ testrate.standard }}</div>
                </td>
                <td>
                  <div>{{ testrate.samplesize }}</div>
                </td>
                <!-- <td>
                    <div>{{testrate.memrate}}</div>
                  </td>
                  <td>
                    <div>{{testrate.nonmemrate}}</div>
                  </td> -->
              </tr>
            </tbody>
          </table>
          <hr />
          <nav
            style="width: 100%; float: left"
            *ngIf="searchText == ''"
            aria-label="Page navigation example"
          >
            <div style="float: left">
              <span style="color: #212529; font-weight: bold"
                >Page {{ pagenationConfiguration.currentPageNo }} of
                {{ pageCount }}</span
              >
            </div>
            <ul class="pagination justify-content-center">
              <li
                *ngIf="this.pagenationConfiguration.currentPageNo != 1"
                style="cursor: pointer"
                class="page-item"
              >
                <span class="page-link" (click)="pagenationEvent(3, 0)"
                  >Previous</span
                >
              </li>
              <li
                *ngIf="this.pagenationConfiguration.currentPageNo == 1"
                style="cursor: pointer"
                class="page-item disabled"
              >
                <span class="page-link" (click)="pagenationEvent(3, 0)"
                  >Previous</span
                >
              </li>
              <li
                style="cursor: pointer"
                *ngFor="
                  let pageno of pagenationConfiguration.pageNos;
                  let i = index
                "
                class="page-item"
                (click)="pagenationEvent(1, pageno)"
              >
                <span
                  *ngIf="pageno == pagenationConfiguration.currentPageNo"
                  style="color: white"
                  class="page-link page-link-active"
                  (click)="pagenationEvent('1', pageno)"
                >
                  {{ pageno }}
                </span>
                <span
                  *ngIf="
                    pageno != pagenationConfiguration.currentPageNo &&
                    pageno != undefined
                  "
                  class="page-link"
                  (click)="pagenationEvent('1', pageno)"
                >
                  {{ pageno }}
                </span>
              </li>
              <li
                *ngIf="pageCount != pagenationConfiguration.currentPageNo"
                class="page-item"
                style="cursor: pointer"
              >
                <span class="page-link" (click)="pagenationEvent(2, 0)"
                  >Next</span
                >
              </li>
              <li
                *ngIf="pageCount == pagenationConfiguration.currentPageNo"
                class="page-item disabled"
                style="cursor: pointer"
              >
                <span class="page-link" (click)="pagenationEvent(2, 0)"
                  >Next</span
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/ End Table-->
</div>
