<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          <strong>Contact</strong>
          <small>Us</small>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label style="font-weight: bold" for="name"
                  >The South India Textile Research Association[SITRA]</label
                >
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="ccnumber">13/37, Avinashi Road,</label>
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="form-group col-sm-12">
              <label for="ccmonth">Civil Aerodrome Post,</label>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="form-group col-sm-12">
              <label for="ccmonth">Coimbatore - 641 014,</label>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="form-group col-sm-12">
              <label for="ccmonth">Tamil Nadu, India</label>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="form-group col-sm-12">
              <label for="ccmonth"
                >Phone :91-422-2574367-9, 6544188, 4215333</label
              >
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="form-group col-sm-12">
              <label for="ccmonth"></label>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="form-group col-sm-12">
              <label for="ccmonth"></label>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="form-group col-sm-12">
              <label for="ccmonth"></label>
            </div>
          </div>
          <!--/.row-->
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          <strong>Physics & Chemistry</strong>
          <small>Department</small>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label
              class="col-sm-12"
              style="text-align: center; font-weight: bold"
              >Physics</label
            >
            <label class="col-sm-3">E-mail</label>
            <label class="col-sm-8">physics@sitra.org.in</label>
          </div>
          <div class="form-group">
            <label class="col-sm-3">Fibre</label>
            <label class="col-sm-8">0422-4215327</label>
          </div>
          <div class="form-group">
            <label class="col-sm-3">Yarn</label>
            <label class="col-sm-8">0422-4215332</label>
          </div>
          <div class="form-group">
            <label class="col-sm-3">Fabric</label>
            <label class="col-sm-8">0422-4215314</label>
          </div>
          <div class="form-group">
            <label class="col-sm-3">Sample Room </label>
            <label class="col-sm-8">0422-4215303</label>
          </div>
          <hr />
          <div class="form-group">
            <label
              class="col-sm-12"
              style="text-align: center; font-weight: bold"
              >Chemistry</label
            >
            <label class="col-sm-3">E-mail</label>
            <label class="col-sm-8">chem@sitra.org.in</label>
          </div>
          <div class="form-group">
            <label class="col-sm-3">Phone</label>
            <label class="col-sm-8">0422-4215328, 334</label>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->

    <!-- Start Chemistry Department -->
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          <strong>Knitting & Engineering</strong>
          <small>Department</small>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label
              class="col-sm-12"
              style="text-align: center; font-weight: bold"
              >Knitting</label
            >
            <label class="col-sm-3">E-mail</label>
            <label class="col-sm-8">wvg@sitra.org.in</label>
          </div>
          <div class="form-group">
            <label class="col-sm-3">Phone</label>
            <label class="col-sm-8">0422-4215341, 343, 325</label>
          </div>
          <hr />
          <div class="form-group">
            <label
              class="col-sm-12"
              style="text-align: center; font-weight: bold"
              >Engineering</label
            >
            <label class="col-sm-3">E-mail</label>
            <label class="col-sm-8">engg@sitra.org.in</label>
          </div>
          <div class="form-group">
            <label class="col-sm-3">Phone</label>
            <label class="col-sm-8">0422-4215344, 374</label>
          </div>
          <div class="row">
            <div class="form-group col-sm-12">
              <label for="cc     month"></label>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="form-group col-sm-12">
              <label for="ccmonth"></label>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="form-group col-sm-12">
              <label for="ccmonth"></label>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="form-group col-sm-12">
              <label for="ccmonth"></label>
            </div>
          </div>
          <!--/.row-->
        </div>
      </div>
    </div>
    <!--/.col-->
    <!-- End Checmistry Department-->

    <!-- Start COE Department-->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>COE</strong>
          <small>&nbsp; Department</small>
        </div>
        <div class="card-body" style="float: left">
          <div class="form-group" class="col-sm-4" style="float: left">
            <label style="font-weight: bold" class="col-sm-12"
              >Analytical & Food</label
            >
            <label class="col-sm-3">E-mail</label>
            <label class="col-sm-8">coelabs@sitra.org.in</label>
            <label class="col-sm-3">Phone</label>
            <label class="col-sm-8">0422-4215333. Ext : 365 / 364</label>
          </div>

          <div class="form-group" class="col-sm-4" style="float: left">
            <label style="font-weight: bold" class="col-sm-12">Polymer</label>
            <label class="col-sm-3">E-mail</label>
            <label class="col-sm-8">sitrameditech@sitra.org.in</label>
            <label class="col-sm-3">Phone</label>
            <label class="col-sm-8">0422-4215333. Ext : 363</label>
          </div>

          <div class="form-group" class="col-sm-4" style="float: left">
            <label style="font-weight: bold" class="col-sm-12">Physics</label>
            <label class="col-sm-3">E-mail</label>
            <label class="col-sm-8">coephy@sitra.org.in</label>
            <label class="col-sm-3">Phone</label>
            <label class="col-sm-8">0422-4215349</label>
          </div>

          <div class="form-group" class="col-sm-4" style="float: left">
            <label style="font-weight: bold" class="col-sm-12"
              >Microbiology</label
            >
            <label class="col-sm-3">E-mail</label>
            <label class="col-sm-8">coebio@sitra.org.in</label>
            <label class="col-sm-3">Phone</label>
            <label class="col-sm-8">0422-4215323</label>
          </div>

          <div class="form-group" class="col-sm-4" style="float: left">
            <label style="font-weight: bold" class="col-sm-12"
              >Biotechnology</label
            >
            <label class="col-sm-3">E-mail</label>
            <label class="col-sm-8">coebio@sitra.org.in</label>
            <label class="col-sm-3">Phone</label>
            <label class="col-sm-8">0422-4215333. Ext : 373</label>
          </div>

          <div class="form-group" class="col-sm-4" style="float: left">
            <label style="font-weight: bold" class="col-sm-12"
              >Trainning & Incubation</label
            >
            <label class="col-sm-3">E-mail</label>
            <label class="col-sm-8">techtextrg@sitra.org.in</label>
            <label class="col-sm-3">Phone</label>
            <label class="col-sm-8">0422-4215333. Ext : 370</label>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <!-- End COE Department-->
  </div>
  <!--/.row-->
</div>
