.fullwidth {
  width: 100%;
}
.fontbold {
  font-weight: bold;
}
.fontunderline {
  text-decoration: underline;
}
.loader {
  height: 5px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
  margin-top: -6px;
}
.loader:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 5px;
  /* background-color: #1449A5; */
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
    background-color: yellow;
  }
  50% {
    width: 30%;
    background-color: red;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
    background-color: rgb(255, 0, 221);
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e4e5e6;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #04aa6d;
  border-radius: 20px 20px 0px 0px;
  color: white;
}

.active {
  background-color: #04aa6d;
  border-radius: 20px 20px 0px 0px;
  color: white;
  font-weight: bold;
}
.border1 {
  background-color: white;
  margin-left: 30px;
  border-radius: 0.75rem;
}
.border2 {
  background-color: white;
  border-radius: 0.75rem;
}
.border3 {
  background-color: white;
  border-radius: 0.75rem;
}
.row {
  display: inline-flex;
  gap: 30px;
}
